.venv/
__pycache__/
.pytest_cache/
.ruff_cache/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

docs/*
!docs/README.md
!docs/build/
docs/build/*
!docs/build/README.md
!docs/build/*.pdf
!docs/tools/
docs/tools/*
!docs/tools/README.md
